.Button{
  border: none;
  color: white;
  padding: 14px 28px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 16px;
}

.Remove-Button{
  background-color: #f44336;
}

.Remove-Button:hover{
  background: #da190b;
}

.Add-Button{
  background-color: #2196F3;
}

.Add-Button:hover{
  background: #0b7dda;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input{
  margin-left: 12px;
  padding: 12px 20px;
  box-sizing: border-box;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
  color: #d6d6d6;
  background-color: #2d2e2d;
}
